<link rel="stylesheet" href="{RYANTEST_FAQ_PATH}/css/companyIndex.css" />
<link rel="stylesheet" href="{RYANTEST_FAQ_PATH}/css/blog.css" />

<div class="row">
  <div class="col-lg-12 tagLineWrapper">

    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center p-2">
        <div class="profileLogoWrapper shadowSm">
          <img src="{COMPANY_LOGO_IMAGE}" class="profileLogo" alt="{COMPANY_NAME}" />
        </div>
      </div>
      <div class="col-lg-9 p-2 justify-content-md-center just d-flex">
        <div class="companyDetailWrapper shadowSm">
          <span class="companyName"> {COMPANY_NAME} </span>
          <p class="companyDesc">{COMPANY_DESC}</p>

          <div class="companyTagsWrapper">
            {START_COMPANY_TAG:00}
            <span class="tagContainer">{COMPANY_TAG}</span>
            {END_COMPANY_TAG:00}
          </div>

          <div class="d-flex flex-column justify-content-start gap-2">
            <div class="iconWrapper">
              <i class="bi bi-envelope emailIcon"></i>
              <span class="textContainer d-flex flex-column" style="font-size: 1rem">
                {START_IF_MULTIPLE_EMAIL}
                <a href="mailto:{COMPANY_EMAIL}?subject=Inquiry%20About%20Your%20Services%20and%20Products&body=Hello%2C%0A%0AI%20found%20your%20business%20through%20FAQ2u%20and%20I%E2%80%99m%20interested%20in%20learning%20more%20about%20your%20offerings.%0A%0ACould%20you%20please%20share%20details%20about%20your%20services%2C%20products%2C%20and%20any%20other%20relevant%20information%3F%0A%0AThank%20you"
                  target="_blank" rel="noopener" class="text-decoration-none" style="color: #1b4297">
                  {COMPANY_EMAIL}
                </a>
                {END_IF_MULTIPLE_EMAIL}
              </span>
            </div>
            <div class="iconWrapper">
              <i class="bi bi-geo-alt emailIcon"></i>
              <div class="d-flex flex-column align-items-start justify-content-start gap-3">
                <a class="textContainer text-decoration-none" style="color: #1b4297" href="{COMPANY_MAP}"
                  target="_blank" rel="noopener noreferrer">
                  {COMPANY_ADDRESS}
                </a>
              </div>
            </div>
          </div>
          <div class="ctaWrapper">
            <a class="ctaToSite shadow-sm" target="_blank" href="{COMPANY_WEBSITE}">Visit Official Website</a>
            <a class="ctaToSiteSec shadow-sm" href="../../">Back to All FAQs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="primaryContainer">
  <div class="faqContentContainer container gap-4">

    <div class="d-flex align-items-end justify-content-end w-100">
      <div class="tabWrapper">
        <div class="tabContainer selectedTabContainer" id="companyBlogTab">
          <span> Blog </span>
        </div>
        <div class="tabContainer" id="companyFaqTab">
          <span> FAQ </span>
        </div>
      </div>
    </div>

    <div class="companyTabPanel" id="companyBlogPanel">
      <div class="row homeArticlesGrid">
        {START_BLOG_CARD:00}
        <div class="col-md-6 homeArticleCol">
          <div class="blogCard resultCard shadowSm">
            <div class="blogCardHeader">
              <div class="faqCompanyWrapper">
                <div class="companyLogoWrapper" onclick="window.location.href='{BLOG_URL}'">
                  <img src="{BLOG_COMPANY_LOGO}" class="companyLogo" alt="{BLOG_COMPANY_NAME}" />
                </div>
                <div class="companyDetailWrapper">
                  <span class="companyTitle inter-light" onclick="window.location.href='{BLOG_URL}'" style="cursor: pointer;">
                    {BLOG_COMPANY_NAME}
                  </span>
                  <span class="companyUrl">{BLOG_COMPANY_URL}</span>
                </div>
              </div>
              <span class="customCategoryBadge">{BLOG_CATEGORY}</span>
            </div>

            <div class="articleCardImageWrapper">
              <img src="{BLOG_IMAGE}" class="articleCardImage" alt="{BLOG_TITLE}" />
            </div>

            <div class="blogCardMetaRow">
              <span class="blogSlugTag">{BLOG_SLUG}</span>
              <button class="viewBtn shadowSm" onclick="window.location.href='{BLOG_URL}'">
                <span class="viewBtnText">Read</span>
                <i class="bi bi-arrow-up-right-square"></i>
              </button>
            </div>

            <h3 class="articleCardTitle gloock-regular blogCardTitle" onclick="window.location.href='{BLOG_URL}'" style="cursor: pointer;">{BLOG_TITLE}</h3>
            <p class="faqSub blogCardExcerpt">{BLOG_EXCERPT}</p>

            <div class="companyTagsWrapper">
              {START_BLOG_TAG:00}
              <span class="tagContainer">{BLOG_TAG}</span>
              {END_BLOG_TAG:00}
            </div>
          </div>
        </div>
        {END_BLOG_CARD:00}
      </div>
    </div>

    <div class="companyTabPanel d-none" id="companyFaqPanel">
      <div class="faqContentListWrapper list-view">
        {START_FOR_FAQ_LIST:00}
        <div class="faqContentListContainer resultCard shadowSm" data-id="{FAQ_ID}">
          <div class="faqContentHeaderWrapper">
            <div class="faqContentHeaderContainer">
              <div class="faqCompanyWrapper">
                <div class="companyLogoWrapper">
                  <img src="{COMPANY_LOGO}" class="companyLogo" alt="{COMPANY_NAME}" />
                </div>
                <div class="companyDetailWrapper">
                  <span class="companyTitle inter-light">{COMPANY_NAME}</span>
                  <span class="companyUrl">{COMPANY_URL}</span>
                </div>
              </div>
            </div>

            <div class="cardContentRow">
              <div class="faqContentBodyContainer">
                <div class="contentHeaderContainer">
                  <h2 class="faqHeader" onclick="window.location.href='{FAQ_URL}'">{FAQ_QUES}</h2>
                  <div class="customCategoryBadgeContainer">
                    <span class="customCategoryBadge">{CATEGORY_NAME}</span>
                  </div>
                </div>
                <div class="faqSub">
                  {FAQ_ANS}
                </div>
                <div class="mobileViewToggle">
                  <button class="mblViewWrapper mblViewMore">Read More</button>
                  <button class="mblViewWrapper mblViewLess">Read Less</button>
                </div>
              </div>

              <div class="faqContentIcon">
                <button class="viewBtn shadowSm" onclick="window.location.href='{FAQ_URL}'">
                  <span class="viewBtnText">View</span>
                  <i class="bi bi-arrow-up-right-square"></i>
                </button>

                <button type="button" class="viewMoreBtn viewMore">
                  <i class="bi bi-plus-lg"></i>
                </button>

                <button type="button" class="viewMoreBtn viewLess">
                  <i class="bi bi-dash-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        {END_FOR_FAQ_LIST:00}
      </div>
    </div>

  </div>
</div>
<script>
  $(function () {
    $("#companyBlogTab").on("click", function () {
      $(this).addClass("selectedTabContainer");
      $("#companyFaqTab").removeClass("selectedTabContainer");
      $("#companyBlogPanel").removeClass("d-none");
      $("#companyFaqPanel").addClass("d-none");
    });

    $("#companyFaqTab").on("click", function () {
      $(this).addClass("selectedTabContainer");
      $("#companyBlogTab").removeClass("selectedTabContainer");
      $("#companyFaqPanel").removeClass("d-none");
      $("#companyBlogPanel").addClass("d-none");
    });
  });
</script>
