<footer>
  <div class="footerWrapper container-lg">
    <div class="footerContainer container gloock-regular">
      <div class="logoWrapper">
        <img
          src="https://www.newpages2u.com/img/1769068962FAQ2uLogo.png"
          alt="icon"
          class="navbarLogo"
        />
      </div>

      <span> Explore answers with confidence. </span>
      <span>
        A curated knowledge platform designed to surface accurate FAQs—fast.

        <br />
        Built for businesses, teams, and curious minds.

      </span>
    </div>
    <div class="footerLegalRow footerContainer container">
      <div class="footerLegalLeft">
        <a href="..{RYANTEST_FAQ_PATH}/" target="_blank" style="text-decoration: none; color: black;"
          rel="noopener noreferrer"><strong>FAQ2u</strong></a> © {CURRENT_YAER}
      </div>

      <div class="gloock-regular p-0">
        Designed for accuracy over assumptions below
      </div>
      <div class="footerLegalRight">
        Powered By <a href="https://www.newpages.net/" class="footerLink" target="_blank">NEWPAGES</a>
      </div>
    </div>
  </div>
</footer>
<script src="{RYANTEST_FAQ_PATH}/assets/bootstrap-5.3.8/js/bootstrap.bundle.min.js"
  integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
<script src="{RYANTEST_FAQ_PATH}/assets/bootstrap-5.3.8/js/bootstrap.bundle.min.js"></script>

</body>

</html>