</div>

<div class="primaryContainer">
  <div class="faqContentContainer container">

    <a href="{FEATURED_URL}" class="homeHeroCard shadowSm">
      <img src="{FEATURED_IMAGE}" class="homeHeroBgImage" alt="{FEATURED_TITLE}" />
      <div class="homeHeroScrim"></div>
      <div class="homeHeroTop">
        <div class="homeHeroCompany">
          <span class="homeHeroAvatar">{FEATURED_COMPANY_INITIALS}</span>
          <span class="homeHeroCompanyName">{FEATURED_COMPANY_NAME}</span>
        </div>
        <span class="homeHeroCategoryBadge">{FEATURED_CATEGORY}</span>
      </div>
      <div class="homeHeroBottom">
        <h2 class="homeHeroTitle gloock-regular">{FEATURED_TITLE}</h2>
        <p class="homeHeroExcerpt">{FEATURED_EXCERPT}</p>
        <span class="homeHeroReadBtn">Read the article &rarr;</span>
      </div>
    </a>

    <div class="row homeMainRow">
      <div class="col-lg-8" id="articles">
        <div class="homeColHeader">
          <h2 class="homeColTitle gloock-regular">Articles</h2>
          <a href="/blog" class="homeViewAllLink">View all →</a>
        </div>
        <div class="row homeArticlesGrid">
          {START_ARTICLE_CARD:00}
          <div class="col-md-6 homeArticleCol">
            <a href="{ARTICLE_URL}" class="articleCard shadowSm">
              <div class="articleCardHeader">
                <div class="faqCompanyWrapper">
                  <div class="companyLogoWrapper">
                    <img src="{ARTICLE_COMPANY_LOGO}" class="companyLogo" alt="{ARTICLE_COMPANY_NAME}" />
                  </div>
                  <div class="companyDetailWrapper">
                    <span class="companyTitle inter-light">{ARTICLE_COMPANY_NAME}</span>
                    <span class="companyUrl">{ARTICLE_COMPANY_URL}</span>
                  </div>
                </div>
                <span class="customCategoryBadge">{ARTICLE_CATEGORY}</span>
              </div>

              <div class="articleCardImageWrapper">
                <img src="{ARTICLE_IMAGE}" class="articleCardImage" alt="{ARTICLE_TITLE}" />
              </div>

              <div class="articleCardMetaRow">
                <span class="articleSlugTag">{ARTICLE_SLUG}</span>
                <span class="viewBtn shadowSm">
                  <span class="viewBtnText">Read</span>
                  <i class="bi bi-arrow-up-right-square"></i>
                </span>
              </div>

              <h3 class="articleCardTitle gloock-regular">{ARTICLE_TITLE}</h3>
              <p class="faqSub articleCardExcerpt">{ARTICLE_EXCERPT}</p>

              <div class="companyTagsWrapper">
                {START_ARTICLE_TAG:00}
                <span class="tagContainer">{ARTICLE_TAG}</span>
                {END_ARTICLE_TAG:00}
              </div>
            </a>
          </div>
          {END_ARTICLE_CARD:00}
        </div>
      </div>

      <div class="col-lg-4" id="faqs">
        <div class="homeColHeader">
          <h2 class="homeColTitle gloock-regular">FAQs</h2>
          <a href="/faqs" class="homeViewAllLink">View all →</a>
        </div>
        <div class="homeFaqCardList">
          {START_FOR_FAQ_LIST:00}
          <div class="homeFaqCard shadowSm" data-id="{FAQ_ID}">
            <div class="homeFaqCardTop">
              <h3 class="homeFaqCardTitle" onclick="window.open('{FAQ_URL}', '_blank')">{FAQ_QUES}</h3>
              <i class="bi bi-arrow-up-right homeFaqCardArrow" onclick="window.open('{FAQ_URL}', '_blank')"></i>
            </div>

            <div class="faqCompanyWrapper homeFaqCardCompany">
              <div class="companyLogoWrapper" onclick="window.location.href='{FAQ_COMPANY_PAGE}'">
                <img src="{COMPANY_LOGO}" class="companyLogo" alt="{COMPANY_NAME}" />
              </div>

              <div class="companyDetailWrapper">
                <span class="companyTitle inter-light" onclick="window.location.href='{FAQ_COMPANY_PAGE}'">
                  {COMPANY_NAME}
                </span>

                <span class="companyUrl" onclick="window.open('{COMPANY_URL}')">
                  {COMPANY_URL}
                </span>
              </div>
            </div>

            <div class="homeFaqCardMetaRow">
              <span class="customCategoryBadge">{CATEGORY_NAME}</span>
              {START_FIRST_TAG}
              <span class="tagContainer">{FIRST_TAG}</span>
              {END_FIRST_TAG}
              {START_EXTRA_TAG_BADGE}
              <span class="tagCountBadge">+{EXTRA_TAG_COUNT}</span>
              {END_EXTRA_TAG_BADGE}
            </div>
          </div>
          {END_FOR_FAQ_LIST:00}
        </div>
      </div>
    </div>

  </div>
</div>
